*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #222;
  color: white;
  font-size: 1.2rem;
  font-family: sans-serif;
}

.container {
  clear: both;
  max-width: 100%;
  margin: 0 auto;
}

.sidebar {
  width: 31.2%;
  float: left;
}

.posts {
  width: 68.7%;
  float: left;
  line-height: 1.5;
}

.post {
  padding: 20px;
}

.post-title {
  font-size: 2rem;
}
