p {
  line-height: 1.5;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
}

.post {
  border: 1px solid rgba(000,000,000,0.2);
  padding: 10px;
  max-width: 650px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.post > h2 {
  margin: 0;
  padding: 0;

}

/* Your Code Goes Under This Line */
.circle {
	width: 200px;
	height: 200px;
	background-color: black;
	border-radius: 100px;
}

.outline {
	background-color: white;
	border-style: solid;
	border-color: black;
	border-width: 2px;
}